:root {
    font-size: 62.5%;
}

/* Tạo hình tròn trước 1 đoạn text */
/* Ở đây chính title là cha của title:before */
/* Muốn các đều dấu chấm với đoạn text ta sử dụng padding,
vì nếu sử dụng margin thì cả hình tròn và doạn text sẽ cùng di chuyển chứ không tách ra  */
.title {
    position: relative;
    padding-left: 2rem;
}

.title:before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: red;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}