:root{
    font-size: 62,5%;
}
/* model
/* body{
    background-color: white;
    width: 100%;
    height: 100vh;
}
.model{
    position:fixed ;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.384);
}

.model_content{
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} */
/* Làm nút play giữa video */
/* .video{
    width: 500px;
    height: 300px;
    position: relative;

}
.video__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-circle-play {
    font-size: 40px;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* End làm nút play giữa video */

/* Làm 1 cái giá sale sản phẩm */
/* .cart{
    width: 20rem;
    height: 60rem;
    background-color: black;
    position: relative;
}

.sale{
    color: white;
    padding: 5px;
    background-color: orange;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 1rem;
    z-index: 2;
    font-size: 1.2rem;



} */
/* End  Làm 1 cái giá sale sản phẩm  */
/* Làm một Music Playing */
/* .musicBar{
    width: 30rem;
    height: 1rem;
    background-color: #ccc;
    margin: 5rem auto 0;
    border-radius:  2rem;
    position: relative;

}

.bar__progress{
    width: 50%;
    height: 100%;
    border-radius: inherit;
    background-color: green;
}
.bar__cirle{
    width: 2rem;
    height: 2rem;
    background-color: green;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */