html{
    font-size: 62.5%;
}
.wrap{
    height: 50rem;
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
}
.box{
    width: 100%;
    height: 5rem;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;

}